<!DOCTYPE html>
<html>
    <head>
        <title>A random Rick and Morty character</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="flex gap-3 flex-wrap m-5">
            {{range .Characters}}
                <div class="border rounded border-slate-400">
                    <h1 class="font-bold mb-1 text-lg pt-1 pl-1 pr-1">{{.Name}}</h1>
                    <img src="{{.Image}}" />
                </div>
            {{end}} 
        </div> 
    </body>
</html>